.container {
    max-width: 90%;
    margin: 50px auto;
    position: relative;
}

.container {

    .title {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 30px;
    }

    .cards {
        overflow: hidden;
        width: 100%;
        display: flex;
        gap: 13px;
        
        .card-inner {
            .card {
                width: 157px;
                height: 170px;
                @media (min-width: 481px) {
                    width: 136px;
                }
                @media (min-width: 769px) {
                    width: 144px;
                }
                @media (min-width: 1025px) {
                    width: 144px;
                }
                @media (min-width: 1201px) {
                    width: 144px;
                }

                .img {
                    margin-bottom: 10px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        object-fit: cover;
                    }

                    .content {
                        font-weight: 600;
                    }
                }
            }
        }
        i{
            position: absolute;
            right:-20px ;
            top: 135px;
            font-size: 30px;
           padding: 4px 9px;
            background-color: rgb(221, 221, 221);
            border-radius: 50%;
            cursor: pointer;
        }

    }
}