* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1400px;
  margin: 50px auto;
}

main section.books .container .head {
  font-size: 27px;
  line-height: 32px;
  padding: 0 20px;
  margin-bottom: 20px;
}

main section.books .container .cards {
  overflow: hidden;
  position: relative;
}

main section.books .container .cards i {
  font-size: 25px;
  position: absolute;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #f9f8f8;
  top: 40%;
  cursor: pointer;
}

main section.books .container .cards .fa-angle-left {
  left: 0;
  display: none;
  z-index: 9999;
}

main section.books .container .cards .fa-angle-right {
  right: 0;
}

main section.books .container .cards .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
}

main section.books .container .cards .card-wrapper .card {
  min-width: 50%;
  padding: 20px;
}

@media (min-width: 576px) {
  main section.books .container .cards .card-wrapper .card {
    min-width: calc(100% / 2);
  }
}

@media (min-width: 768px) {
  main section.books .container .cards .card-wrapper .card {
    min-width: calc(100% / 3);
  }
}

@media (min-width: 992px) {
  main section.books .container .cards .card-wrapper .card {
    min-width: calc(100% / 4);
  }
}

@media (min-width: 1200px) {
  main section.books .container .cards .card-wrapper .card {
    min-width: calc(100% / 6);
  }
}

@media (min-width: 1400px) {
  main section.books .container .cards .card-wrapper .card {
    min-width: calc(100% / 7);
  }
}

main section.books .container .cards .card-wrapper .card .card-inner .img {
  margin-bottom: 10px;
}

main section.books .container .cards .card-wrapper .card .card-inner .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  -o-object-position: center;
     object-position: center;
}

main section.books .container .cards .card-wrapper .card .card-inner p.content-text {
  color: #000;
  font-size: 16px;
  line-height: 24px;
}

main section.arrival-book .container .head {
  font-size: 27px;
  font-weight: 600;
  padding: 0 20px;
  line-height: 32px;
  margin-bottom: 20px;
}

main section.arrival-book .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.arrival-book .container .cards .card {
  width: 100%;
  padding: 20px;
}

@media (min-width: 768px) {
  main section.arrival-book .container .cards .card {
    width: calc(100% / 2);
  }
}

@media (min-width: 992px) {
  main section.arrival-book .container .cards .card {
    width: calc(100% / 3);
  }
}

@media (min-width: 1200px) {
  main section.arrival-book .container .cards .card {
    width: calc(100% / 5);
  }
}

main section.arrival-book .container .cards .card .card-inner .img {
  margin-bottom: 15px;
}

main section.arrival-book .container .cards .card .card-inner .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 7px;
}

main section.arrival-book .container .cards .card .card-inner .content .bname {
  display: block;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 7px;
}

main section.arrival-book .container .cards .card .card-inner .content .author {
  font-size: 14px;
  line-height: 20px;
  color: #bdbdbd;
}

main section.arrival-book .container .cards .card .card-inner .content .author a {
  color: #777777;
}

main section.arrival-book .container .cards .card .card-inner .content .author a:hover {
  color: #e35700;
}

main section.arrival-book .container .cards .card .card-inner .content .price {
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

main section.arrival-book .container .cards .card .card-inner .content .price span {
  color: #e35700;
  font-weight: 600;
}

main section.arrival-book .container .cards .card .card-inner .content .price del {
  font-size: 12px;
}

main section.arrival-book .container .cards .card .card-inner .content .price .save {
  font-size: 12px;
  color: green;
}
/*# sourceMappingURL=style.css.map */